body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    background-color: #FF9900;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header{
    //background-color: #DB2B39;
    background-color: #000000;
    color: white;
    text-transform: uppercase;
    padding: 5px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    //justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
}

h2, h3, h1{
    display:block;
}


#allthecards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

#allthebuttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    

}

#allthebuttons > button{
    border: 1px solid black;
    margin: 5px;
    font-size: 1.2em;
    border-radius:5px;
    transition: .3s;
}


.card{
    margin: 5px;
    //border: 1px solid grey;
    padding: 10px;
    background-color:white;
    //height:250px;
    width: 400px;
    //box-shadow: 0 0 5px;
    box-shadow: 3px 3px 5px;
    display: flex;
    flex-direction: column;

}

.activeType{
    //background-color:#DB2B39;
    background-color: black;
    color:white;
}

#login-signup, #settings{
    margin: 10px;
    background-color: antiquewhite;
    width:300px;
    position: absolute;
    right: 0;
    padding: 15px;
    border-radius:5px;
    box-shadow: 0 0 5px;
}

.disappear{
    display:none;
}

label{
    display:inline-block;
    width: 100px;
    text-align: right;
    padding: 5px;
}

input{
    width: 150px;
}

#allthebuttons > button:hover{
    background-color: grey;
    
}

.activeType:hover {
    background-color:#DB2B39
    //background-color: black;
}

h3:hover{
    color: #FF9900;
}

button:hover, h3:hover, #restOfHeader > img:hover{
    cursor: pointer;

}

#restOfHeader > img{
    transition: .3s;
}

#restOfHeader > img:hover{
    transform: rotate(360deg);
    
}
button{
    border: 1px solid black;
}

#restOfHeader{
    justify-content:flex-end;
}

#about, #guide{
    margin: 5px;
}

.link1{
    color:blue; 
    text-decoration:underline;
    cursor:pointer;
}
.link1:hover{
    color: darkblue;
}

@media only screen and (max-width: 580px){
    #header{
        justify-content: center;

    }
    #restOfHeader{
        justify-content:center;
    }
    .card{
        width: 80%;
    }

}

#footer{
    background-color: black;
    margin: 0;
    color: white;
    padding: 5px;
    padding-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-width: 100%;
    align-self: flex-end;

}

.spacer {
  clear: both;
  height: 50px;
}